/* Remove Login */
button {
  display: none;
}

.modal {
  display: none;
}

/* Edit */

.edit {
  text-align: center;
  display: inline-block;
  border-radius: 1.5rem;
  box-sizing: border-box;
  padding: 6rem 2rem;
  margin: 8px 0;
  box-shadow: 1px 1px 3px rgba(218, 21, 21, 1);
  width: 30%;
  height: 30%;
  justify-content: center;
  text-align: center;
  margin: 14rem 40rem 14rem 40rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.edit a:hover {
  color: white;
  transform: scaleX(110%);
  display: inline-block;
  transition: 0.5s;
}

span .admin {
  color: black;
}
