:root {
  --primary: rgba(218, 21, 21, 1);
  --bg: rgba(235, 127, 127, 0.8);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
}

/* Navbar Section Start*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgba(235, 127, 127, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 580;
  color: white;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: purple;
}

.navbar .navbar-nav a {
  color: black;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: aliceblue;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid var(--primary);
  transition: 0.4s linear;
  transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

.navbar .navbar-extra a {
  color: aliceblue;
  margin: 0 0.7rem;
}

.navbar .navbar-extra a:hover {
  color: rgba(49, 47, 47, 0.637);
}

#hamburger-menu {
  display: none;
}

/* Navbar Section End */

/* Hero Section Start*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../img/bawah-reserve-n-uaIgS2a0I-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(235, 127, 127, 0.8) 10%,
    rgba(1, 1, 1, 0) 50%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: black;
  text-shadow: 1px 1px 3px rgba(235, 127, 127, 0.8);
  line-height: 1;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
  text-shadow: 1px 1px 3px rgba(235, 127, 127, 0.8);
  mix-blend-mode: difference;
  color: aliceblue;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.3rem 3rem;
  font-size: 1.4rem;
  color: black;
  background-color: var(--bg);
  border-radius: 1.5rem;
  box-shadow: 1px 1px 3px rgba(218, 21, 21, 1);
}
/* Hero Section End */

/* About Section Start*/
.about {
  padding: 7rem 7% 1.4rem;
}

.about h2,
.menu h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  height: 55%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
}

/* About Section End*/

/* Daftar Section Start*/

.daftar {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  text-align: center;
}

.menu-card {
  text-align: center;
}

.menu h2 {
  padding-top: 3rem;
  margin: auto;
}

.menu p {
  text-align: center;
  padding-top: 1rem;
  font-size: 1rem;
}
.daftar .menu-card .namautama {
  margin: 1rem 2rem 0.5rem;
}
.namautama {
  font-size: 2rem;
  text-align: center;
}

.daftar ul,
li {
  list-style: none;
  line-height: 1.6rem;
  padding: 1rem 1px 1rem 5%;
}

.daftar img {
  width: 170px;
  height: 150px;
  display: inline-block;
  border-radius: 50%;
  padding: 1rem 2rem 1rem 2rem;
}

.daftar a {
  color: wheat;
  display: inline-block;
}

.daftar a:hover {
  transition: 0.6s;
  display: inline-block;
  transform: scaleX(75%);
}

.daftar a:hover::after p {
  display: inline-block;
}

.div .more {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.more {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 6rem;
}

.more h1 {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.3rem 3rem;
  font-size: 1.4rem;
  color: black;
  background-color: var(--bg);
  border-radius: 1.5rem;
  box-shadow: 1px 1px 3px rgba(218, 21, 21, 1);
  align-items: center;
  justify-content: center;
}

/* Daftar Section End */

/* Footer Start */

footer {
  background-color: rgba(211, 100, 100, 0.644);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: black;
  transition: 0.3s;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credits {
  font-size: 0.8rem;
  color: #fff;
  display: block;
  padding: 0px 2rem;
}

footer .credits a {
  color: black;
  font-weight: 700;
  margin-top: 2px;
}

/* Footer End */

/* Login */

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--bg);
  box-sizing: border-box;
  background-color: var(--bg);
  box-shadow: 1px 1px 3px rgba(218, 21, 21, 1);
}

/* Set a style for all buttons */
button {
  background: transparent;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.4rem;
  box-shadow: 1px 1px 3px rgba(218, 21, 21, 1);
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--bg);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(235, 127, 127, 0.5);
    width: 25rem;
    height: 95vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.3);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }
}
/* Phone */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
